/* Contenedor Grid */
/* aqui si se puedde ajustar las cosas con display grid */
.container {
    display: grid; /*.container utilizará el módulo de diseño de cuadrícula 
    (Grid Layout). Esto significa que sus elementos hijos directos se podrán 
    posicionar en una cuadrícula bidimensional de filas y columnas*/
    
    grid-template-columns: 1fr 2fr 1fr; /* Esta propiedad define la estructura de las columnas de la cuadrícula.
    1fr: Crea la primera columna y le asigna una fracción (fr) del espacio disponible en el contenedor.
    2fr: Crea la segunda columna y le asigna el doble de la fracción del espacio disponible que la primera columna.
    1fr: Crea la tercera columna y le asigna la misma fracción del espacio disponible que la primera columna.*/
    
    grid-template-rows: auto; /*Esta propiedad define la estructura de las filas de la cuadrícula.
    auto: Indica que la altura de las filas se ajustará automáticamente al contenido de los elementos 
    que contengan. En este caso, solo se define una fila implícita, ya que las áreas definidas 
    en grid-template-areas ocuparán las filas necesarias*/

    grid-template-areas: /*Esta propiedad define un sistema de nombres para las áreas de la cuadrícula, 
    lo que facilita la colocación de los elementos hijos dentro de la cuadrícula. 
    Cada "palabra" dentro de las comillas representa una celda de la cuadrícula, 
    y las filas de "palabras" definen las filas de la cuadrícula.

    "header header header": Define la primera fila de la cuadrícula. Las tres celdas de esta fila se nombran "header". Esto significa que cualquier elemento con grid-area: header; ocupará toda la parte superior del contenedor.
    "sidebar main main": Define la segunda fila. La primera celda se nombra "sidebar", y las dos celdas siguientes se nombran "main".
    "footer footer footer": Define la tercera fila. Las tres celdas se nombran "footer", ocupando toda la parte inferior del contenedor.*/
        "header header header"
        "sidebar main main"
        "footer footer footer";
    
    gap: 10px; /*Esta propiedad establece el espacio (gutter) entre las filas y las columnas 
    de la cuadrícula. En este caso, habrá un espacio de 10 píxeles entre todos los elementos de la cuadrícula*/
    height: 100vh; /* Altura del contenedor */
    }
    
    /* Estilos para los Elementos Grid individuales*/
    .header {
    grid-area: header;
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    }
    
    .sidebar {
    grid-area: sidebar;
    background-color: lightgreen;
    padding: 20px;
    }
    
    .main {
    grid-area: main;
    background-color: lightcoral;
    padding: 20px;
    }
    
    .footer {
    grid-area: footer;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    text-align: center;
    }